*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    z-index: -1;
}

#logo{
    margin: 2px 23px;
}

#logo img{
    height: 50px;
    margin: 12px 21px;
}

#navbar ul{
    display: flex;
}

#navbar li{
    list-style: none;
    font-size: 1.3rem;
    padding: 3px 22px;
}

#navbar li a{
    padding: 3px 10px;
    color: white;
    display: block;
    text-decoration: none;
    border-radius: 20px;
}

#navbar li a:hover{
    color: black;
    background-color: white;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 578px;
    align-items: center;
    justify-content: center;
}

#home::before{
    content: "";
    background: url("./img/bg2.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 93%;
    width: 100%;
    opacity: 0.8;
    z-index: -1;
}

#home h1{
    color: white;
    text-align: center;
    font-family: "Bree Serif", serif;
}

#home p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Bree Serif", serif;
}

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: "Bree Serif", serif;
}

.h-secondary{
    font-size: 2rem;
    padding: 12px;
    font-family: "Bree Serif", serif;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    border-radius: 11px;
    font-size: 1rem;
    color: white;
    margin: 17px;
    cursor: pointer;
}

.centre{
    text-align: center;
}

#service{
    margin: 34px;
    display: flex;
}

#service .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: #f2f2f2;
}

#service .box img{
    height: 160px;
    margin: auto;
    display: block;
}

#client-section{
    height: 344px;
    position: relative;
}

#client-section::before{
    content: "";
    background: url("./img/bg1.jpg") no-repeat center center/cover;
    position: absolute;
    height: 85%;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}

#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-item{
    margin: 25px 45px 10px 10px;
}

#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url("./img/contact.jpg") no-repeat center center/cover;
}

#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

#contact-box form{
    width: 45%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: "Bree Serif", serif;
}

footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}